@media screen and (max-width:768px){
    header{
        padding:10px;
    }
    .page-1,
    .page-2{
        padding:0px;
        min-height:100vh;
    }
    .content{
        margin:10px auto;
        position:static!important;
        padding:.5em 10px;
    }
    .page-1{
        flex-direction:column;
    }
    .girl{
        position:static;
        width:200px;
        height:auto;
        display:block;
        margin:2em auto;
        margin-bottom:2px
    }
    .bars{
        display:inline-block;
    }
    .custom-shape-divider-bottom-1601042332{
        display:none;
    }
    .content h2{
        font-size:2em ;
        letter-spacing: 6px;
    }
    .content h3{
        font-weight:500;
        font-size:1em ;
    }
    .content p{
        margin:0px;
        margin-top:5px;
        font-size:.8em;
        font-weight:400;
        width:100%;
        margin-bottom:20px;
    }
    .social-media{
        background:#fff;
        width:100%;
        margin:auto;
        flex-direction:column;
        justify-content:center;
        padding:8px;
        position: static;
    }
    header .nav-links{
        padding-top:60px;
        position: fixed;
        top: 0;
        background:#0099CB;
        display:none;
        left:0;
        height:100vh;
        z-index:10;
        bottom:0;
        right:0;
    }
    .close{
        color:#fff;
        display: inline-block;
        position: absolute;
        right:.5em;
        top:.5em;
    }
    .close:hover{
        color:#7c0b0b;
    }
    header .nav-links li{
        display:block;
    }
    header .nav-links li a{
        display: block;
        width:100%;
        padding:1em .5em;
        transition:.2s linear;
    }
    header .nav-links li a:hover{
        background: #ffffff;
        color:#0099CB;
    }
    .social-media >*{
        flex:1;
        text-align:center;
        width:100%;
        margin:auto;
    }
    .social-media .socia-media-handles{
        margin-top:1em;
        justify-content:center;
    }
    .flexed{
        flex-direction:column;
    }
    .outline{
        left: 50%;
        transform:translateX(-50%)
    }
    .intro-tag{
        font-size: 2em;
        letter-spacing: 1px;
        font-weight: 500;
    }
    .how-to{
        font-size:1.25em ;
        font-weight: 500!important;
        display:block;
    }
    .desc{
        font-size:.85em ;
        padding:.75em;
        line-height: 1.5em;
    }
    .app-adv{
        font-size: 1.2em;
        font-weight: 500;
        text-align: center;
    }
    .steps{
        font-weight: 400;
        font-size:.899em;
    }

}